<div class="container">
  <div class="user-greeting-area mb-5">
    <h1 class="greeting">Olá,</h1>
    <div *ngIf="currentUser$ | async as currentUser; else logoutTemplate">
      <h1 class="second-line">{{ currentUser.name }} :)</h1>
    </div>
    <ng-template #logoutTemplate>
      <p class="second-line">{{ "Entre ou cadastre-se!" | lowercase }}</p>
    </ng-template>
  </div>
  <div class="row TEMP">
    <div class="col-xl-4">
      <div class="item-block p-5">
        <header class="header-area mb-4">
          <h3>
            <div class="first-line mb-1">Conheça</div>
            O Veganismo
          </h3>
        </header>
        <div class="body-area">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tellus
            urna, facilisis quis lacinia at, pharetra in nulla. Proin sit amet
            mi pretium, bibendum lectus vel, malesuada dui. Praesent diam urna,
            laoreet accumsan dignissim vel, ullamcorper quis quam. Maecenas
            volutpat ornare dictum.
          </p>
        </div>
        <footer class="mt-4">
          <button
            type="button"
            class="btn btn-primary btn-block"
            [routerLink]="''"
          >
            Conhecer!
          </button>
        </footer>
      </div>
    </div>

    <div class="col-xl-4">
      <div class="item-block p-5">
        <header class="header-area mb-4">
          <h3>
            <div class="first-line mb-1">Cálculo</div>
            Nutricional
          </h3>
        </header>
        <div class="body-area">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tellus
            urna, facilisis quis lacinia at, pharetra in nulla. Proin sit amet
            mi pretium, bibendum lectus vel, malesuada dui. Praesent diam urna,
            laoreet accumsan dignissim vel, ullamcorper quis quam. Maecenas
            volutpat ornare dictum.
          </p>
        </div>
        <footer class="mt-4">
          <button
            type="button"
            class="btn btn-primary btn-block"
            [routerLink]="'nutricao/editar-alimentos'"
          >
            Calcular
          </button>
        </footer>
      </div>
    </div>

    <div class="col-xl-4">
      <div class="item-block p-5">
        <header class="header-area mb-4">
          <h3>
            <div class="first-line mb-1">Vitamina</div>
            B12
          </h3>
        </header>
        <div class="body-area">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tellus
            urna, facilisis quis lacinia at, pharetra in nulla. Proin sit amet
            mi pretium, bibendum lectus vel, malesuada dui. Praesent diam urna,
            laoreet accumsan dignissim vel, ullamcorper quis quam. Maecenas
            volutpat ornare dictum.
          </p>
        </div>
        <footer class="mt-4">
          <button
            type="button"
            class="btn btn-primary btn-block"
            [routerLink]="''"
          >
            Saber mais
          </button>
        </footer>
      </div>
    </div>
  </div>
</div>
