.item-food {
  border: 1px solid var(--border-grey);
  border-radius: var(--br-default);
  margin: 5px;
  .img-area {
    margin-right: 14px;

    img {
      width: 50px;
    }
  }
  h4 {
    margin-bottom: 0.3rem;
  }
  ul {
    margin-bottom: 0;
    li {
      line-height: 1.5;
    }
  }

  // .btn-group-item-food {
  //   border: 1px solid red;
  //   button {
  //     border: none;
  //     background-color: white;
  //     span {
  //       line-height: 1.5;
  //     }
  //   }
  // }

  .food-qty {
    font-weight: 500;
  }
}
