<div class="items-food">
  <div class="row no-gutters">
    <div class="col-xl-6" *ngFor="let itemFoodUser of userData.foods">
      <div
        class="item-food d-flex align-items-center bg-white p-3"
        *ngIf="getFoodInfo(itemFoodUser.id) as itemFoodBase"
      >
        <div class="left-area flex-grow-1">
          <div class="d-flex">
            <div class="img-area">
              <img src="../../assets/place.png" alt="" />
            </div>

            <div class="description-area">
              <h4>{{ itemFoodBase.name }}</h4>
              <ul class="list-unstyled">
                <li class="small">Proteínas: 223mg</li>
                <li class="small">Ferro: 89mg</li>
              </ul>
              <div class="material-icon-area">
                <span class="material-icons md-18">...</span>
              </div>
            </div>
          </div>
        </div>
        <div class="right-area">
          <div class="d-flex">
            <div>
              {{ itemFoodUser.qty }}
              {{ itemFoodUser.measure }}
            </div>
            <div>
              <select
                (change)="updateMeasure(itemFoodBase, itemFoodUser, $event)"
                class="custom-select custom-select-sm"
              >
                <option value="g" selected>gramas</option>
                <option value="cs">colher sopa</option>
                <option value="ch">concha</option>
              </select>
            </div>
          </div>

          <div class="buttons-area">
            <button (click)="updateQty(itemFoodBase, itemFoodUser, 'remove')">
              -
            </button>
            <button (click)="updateQty(itemFoodBase, itemFoodUser, 'add')">
              +
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
