<div class="header-section pt-3">
  <div class="container">
    <div class="d-flex align-items-center">
      <div class="left-area flex-grow-1">
        <h2 class="section-title primary-title mt-4">Cálculo Nutricional</h2>
        <p>
          os cálculos baseiam-se nas recomendações diárias para o seu sexo e
          peso
        </p>
        <a routerLink="/" type="button" class="btn btn-primary btn-sm"
          >Ver minhas necessidades</a
        >
      </div>
      <div class="right-area">perfil</div>
    </div>
  </div>
</div>
