:root {
  // Variables
  --background-grey: #fbfcfe;
  --border-grey: #e6ebef;
  --border-grey-dark: #cfd2df;
  --color-primary: #191919;
  --color-secondary: #595959;

  --color-yellow: #f7ca40;

  --br-default: 10px;
}

section {
  margin-bottom: 30px;
}

.pctg-area {
  margin-right: 10px;

  text-align: center;

  .pctg-number {
    width: 52px;
    background-color: black;
    box-shadow: 0 0 0 1px white, 0 0 0 2px black;
    border-radius: 8px;
    color: white;
    font-weight: 700;
    padding: 5px 0;
  }

  .pctg-bar-area {
    background-color: #e5edf0;
    border-radius: 8px;
    .pctg-bar {
      content: "";
      background-color: black;
      border-radius: 8px;
      height: 3px;
    }
  }
}

.small {
  color: var(--color-secondary);
}

.bold {
  font-weight: 500;
}

.item-food {
  border: 1px solid var(--border-grey);
  border-radius: var(--br-default);
  margin: 5px;
  .img-area {
    margin-right: 14px;

    img {
      width: 50px;
    }
  }
  h4 {
    margin-bottom: 0.3rem;
  }
  ul {
    margin-bottom: 0;
    li {
      line-height: 1.5;
    }
  }

  // .btn-group-item-food {
  //   border: 1px solid red;
  //   button {
  //     border: none;
  //     background-color: white;
  //     span {
  //       line-height: 1.5;
  //     }
  //   }
  // }

  .food-qty {
    font-weight: 500;
  }
}
